<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1339e-moon-bul3_128x128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{521,4},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_218x250.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,250}</string>
                <key>spriteSourceSize</key>
                <string>{218,250}</string>
                <key>textureRect</key>
                <string>{{299,4},{218,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_25x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,36}</string>
                <key>spriteSourceSize</key>
                <string>{25,36}</string>
                <key>textureRect</key>
                <string>{{749,4},{25,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_291x273.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,273}</string>
                <key>spriteSourceSize</key>
                <string>{291,273}</string>
                <key>textureRect</key>
                <string>{{4,4},{291,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_40x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{734,232},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_40x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{734,182},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_42x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{734,144},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_44x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{673,144},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_56x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{613,144},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_60x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{586,204},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_61x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{61,66}</string>
                <key>textureRect</key>
                <string>{{521,204},{61,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_80x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{650,204},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_88x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{653,76},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_88x64_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{521,136},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_92x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{653,4},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1339e-moon-bul3_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{299,258},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1339e-moon-bul3.png</string>
            <key>size</key>
            <string>{780,281}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a6eb165369bd0f9f4973e766798c38b:ca8342d1c1d4e8d3466fb3e9eb1b75b0:e483484b42d26873cd48184ddf54963c$</string>
            <key>textureFileName</key>
            <string>u1339e-moon-bul3.png</string>
        </dict>
    </dict>
</plist>
