<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ar-btn-boss-eff_128x144.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 144}</string>
			<key>spriteSourceSize</key>
			<string>{128, 144}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{70, 0}, {128, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_138x95.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {138, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{138, 95}</string>
			<key>spriteSourceSize</key>
			<string>{138, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286, 0}, {138, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_143x234.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {143, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 234}</string>
			<key>spriteSourceSize</key>
			<string>{143, 234}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{160, 146}, {143, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_158x142.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {158, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{158, 142}</string>
			<key>spriteSourceSize</key>
			<string>{158, 142}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 272}, {158, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_22x48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 48}</string>
			<key>spriteSourceSize</key>
			<string>{22, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 218}, {22, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_26x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {22, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 49}</string>
			<key>spriteSourceSize</key>
			<string>{26, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{70, 218}, {26, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_32x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 40}</string>
			<key>spriteSourceSize</key>
			<string>{32, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286, 97}, {32, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_32x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 44}</string>
			<key>spriteSourceSize</key>
			<string>{32, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 218}, {32, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_48x53.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 53}</string>
			<key>spriteSourceSize</key>
			<string>{48, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{285, 382}, {48, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_56x59.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56, 59}</string>
			<key>spriteSourceSize</key>
			<string>{56, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{227, 382}, {56, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_63x56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 56}</string>
			<key>spriteSourceSize</key>
			<string>{63, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{92, 416}, {63, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_65x74.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 74}</string>
			<key>spriteSourceSize</key>
			<string>{65, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{160, 382}, {65, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_68x270.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 270}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 270}</string>
			<key>spriteSourceSize</key>
			<string>{68, 270}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {68, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_84x144.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 144}</string>
			<key>spriteSourceSize</key>
			<string>{84, 144}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200, 0}, {84, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_86x70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{86, 70}</string>
			<key>spriteSourceSize</key>
			<string>{86, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{70, 146}, {86, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-boss-eff_90x73.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 73}</string>
			<key>spriteSourceSize</key>
			<string>{90, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 416}, {90, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>ar-btn-boss-eff</string>
		<key>textureFileName</key>
		<string>ar-btn-boss-eff.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>