<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ar-btn-eff2_128x144.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 144}</string>
			<key>spriteSourceSize</key>
			<string>{128, 144}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 265}, {128, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_128x144_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 144}</string>
			<key>spriteSourceSize</key>
			<string>{128, 144}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{70, 0}, {128, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_143x234.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 16}, {141, 218}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 234}</string>
			<key>spriteSourceSize</key>
			<string>{143, 234}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 272}, {143, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_150x131.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 131}</string>
			<key>spriteSourceSize</key>
			<string>{150, 131}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{336, 135}, {150, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_184x133.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 133}</string>
			<key>spriteSourceSize</key>
			<string>{184, 133}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286, 0}, {184, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_22x48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{22, 48}</string>
			<key>spriteSourceSize</key>
			<string>{22, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 219}, {22, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_26x49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {22, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 49}</string>
			<key>spriteSourceSize</key>
			<string>{26, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{70, 219}, {26, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_32x40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 40}</string>
			<key>spriteSourceSize</key>
			<string>{32, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 219}, {32, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_32x44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 44}</string>
			<key>spriteSourceSize</key>
			<string>{32, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 219}, {32, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_48x53.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 53}</string>
			<key>spriteSourceSize</key>
			<string>{48, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286, 135}, {48, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_56x59.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56, 59}</string>
			<key>spriteSourceSize</key>
			<string>{56, 59}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{213, 411}, {56, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_63x56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 56}</string>
			<key>spriteSourceSize</key>
			<string>{63, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{271, 411}, {63, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_66x65.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 65}</string>
			<key>spriteSourceSize</key>
			<string>{66, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 411}, {66, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_68x270.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 270}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 270}</string>
			<key>spriteSourceSize</key>
			<string>{68, 270}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {68, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_84x144.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 144}</string>
			<key>spriteSourceSize</key>
			<string>{84, 144}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200, 0}, {84, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_86x70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{86, 70}</string>
			<key>spriteSourceSize</key>
			<string>{86, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 146}, {86, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ar-btn-eff2_90x71.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 71}</string>
			<key>spriteSourceSize</key>
			<string>{90, 71}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{70, 146}, {90, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>ar-btn-eff2.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>