<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1434e-boss-bul_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{4,4},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1434e-boss-bul_30x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{38,4},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1434e-boss-bul_30x30_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{72,4},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1434e-boss-bul.png</string>
            <key>size</key>
            <string>{106,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebd9c2fba33670f7b402c5e3e44175b6:52a6707d168cac015a4f07f6b29ea870:7c85b797252d43f1a1e04150a3cdf5fe$</string>
            <key>textureFileName</key>
            <string>u1434e-boss-bul.png</string>
        </dict>
    </dict>
</plist>
