<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1434e-boss-bul3_114x118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,118}</string>
                <key>spriteSourceSize</key>
                <string>{114,118}</string>
                <key>textureRect</key>
                <string>{{129,4},{114,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1434e-boss-bul3_121x135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,135}</string>
                <key>spriteSourceSize</key>
                <string>{121,135}</string>
                <key>textureRect</key>
                <string>{{4,4},{121,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1434e-boss-bul3_83x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,101}</string>
                <key>spriteSourceSize</key>
                <string>{83,101}</string>
                <key>textureRect</key>
                <string>{{129,126},{83,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1434e-boss-bul3.png</string>
            <key>size</key>
            <string>{247,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29a39022eb7a3bc972230c45ed210edb:a497d5080481b19981deab200824ea54:3b0672d515a3fbb9dc38de4f2cd9303e$</string>
            <key>textureFileName</key>
            <string>u1434e-boss-bul3.png</string>
        </dict>
    </dict>
</plist>
