<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1157h-ryuu-bul3_102x93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,93}</string>
                <key>spriteSourceSize</key>
                <string>{102,93}</string>
                <key>textureRect</key>
                <string>{{374,4},{102,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1157h-ryuu-bul3_104x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,8}</string>
                <key>spriteSourceSize</key>
                <string>{104,8}</string>
                <key>textureRect</key>
                <string>{{246,237},{104,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1157h-ryuu-bul3_114x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,104}</string>
                <key>spriteSourceSize</key>
                <string>{114,104}</string>
                <key>textureRect</key>
                <string>{{246,129},{114,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1157h-ryuu-bul3_117x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,110}</string>
                <key>spriteSourceSize</key>
                <string>{117,110}</string>
                <key>textureRect</key>
                <string>{{125,129},{117,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1157h-ryuu-bul3_117x115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,115}</string>
                <key>spriteSourceSize</key>
                <string>{117,115}</string>
                <key>textureRect</key>
                <string>{{4,129},{117,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1157h-ryuu-bul3_118x121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,121}</string>
                <key>spriteSourceSize</key>
                <string>{118,121}</string>
                <key>textureRect</key>
                <string>{{129,4},{118,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1157h-ryuu-bul3_119x119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{251,4},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1157h-ryuu-bul3_121x121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{4,4},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1157h-ryuu-bul3_53x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,19}</string>
                <key>spriteSourceSize</key>
                <string>{53,19}</string>
                <key>textureRect</key>
                <string>{{426,190},{53,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1157h-ryuu-bul3_58x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{364,190},{58,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1157h-ryuu-bul3_92x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,85}</string>
                <key>spriteSourceSize</key>
                <string>{92,85}</string>
                <key>textureRect</key>
                <string>{{374,101},{92,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1157h-ryuu-bul3.png</string>
            <key>size</key>
            <string>{483,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70b3b58c32aab9d78fc463e77deb6974:91789b711e916e17d931f7556bd27340:2895d048244acdca2a622507492ca479$</string>
            <key>textureFileName</key>
            <string>u1157h-ryuu-bul3.png</string>
        </dict>
    </dict>
</plist>
