<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91030-baal-body_108x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,92}</string>
                <key>spriteSourceSize</key>
                <string>{108,92}</string>
                <key>textureRect</key>
                <string>{{202,402},{108,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_128x103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,103}</string>
                <key>spriteSourceSize</key>
                <string>{128,103}</string>
                <key>textureRect</key>
                <string>{{602,256},{128,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_14x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{864,199},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_14x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,142}</string>
                <key>spriteSourceSize</key>
                <string>{14,142}</string>
                <key>textureRect</key>
                <string>{{836,220},{14,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_14x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{768,470},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_14x24_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{864,171},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_152x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,124}</string>
                <key>spriteSourceSize</key>
                <string>{152,124}</string>
                <key>textureRect</key>
                <string>{{786,4},{152,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_152x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{460,26},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_154x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,106}</string>
                <key>spriteSourceSize</key>
                <string>{154,106}</string>
                <key>textureRect</key>
                <string>{{274,182},{154,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_154x106_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,106}</string>
                <key>spriteSourceSize</key>
                <string>{154,106}</string>
                <key>textureRect</key>
                <string>{{202,292},{154,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_154x106_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,106}</string>
                <key>spriteSourceSize</key>
                <string>{154,106}</string>
                <key>textureRect</key>
                <string>{{616,146},{154,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_154x106_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,106}</string>
                <key>spriteSourceSize</key>
                <string>{154,106}</string>
                <key>textureRect</key>
                <string>{{360,292},{154,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_154x106_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,106}</string>
                <key>spriteSourceSize</key>
                <string>{154,106}</string>
                <key>textureRect</key>
                <string>{{432,182},{154,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_166x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,138}</string>
                <key>spriteSourceSize</key>
                <string>{166,138}</string>
                <key>textureRect</key>
                <string>{{616,4},{166,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_182x152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,152}</string>
                <key>spriteSourceSize</key>
                <string>{182,152}</string>
                <key>textureRect</key>
                <string>{{274,26},{182,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{590,202},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{590,224},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_18x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{774,220},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_194x156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{4,283},{194,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_20x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{590,180},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_20x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{703,470},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_20x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{575,464},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_266x275.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,275}</string>
                <key>spriteSourceSize</key>
                <string>{266,275}</string>
                <key>textureRect</key>
                <string>{{4,4},{266,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_27x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,83}</string>
                <key>spriteSourceSize</key>
                <string>{27,83}</string>
                <key>textureRect</key>
                <string>{{854,220},{27,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_28x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{921,467},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{921,435},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_28x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,46}</string>
                <key>textureRect</key>
                <string>{{889,435},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_29x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,18}</string>
                <key>spriteSourceSize</key>
                <string>{29,18}</string>
                <key>textureRect</key>
                <string>{{915,413},{29,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_30x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,136}</string>
                <key>spriteSourceSize</key>
                <string>{30,136}</string>
                <key>textureRect</key>
                <string>{{802,220},{30,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_326x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,18}</string>
                <key>spriteSourceSize</key>
                <string>{326,18}</string>
                <key>textureRect</key>
                <string>{{274,4},{326,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{885,258},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_34x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,82}</string>
                <key>spriteSourceSize</key>
                <string>{34,82}</string>
                <key>textureRect</key>
                <string>{{885,172},{34,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_34x82_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,82}</string>
                <key>spriteSourceSize</key>
                <string>{34,82}</string>
                <key>textureRect</key>
                <string>{{915,327},{34,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_36x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,82}</string>
                <key>spriteSourceSize</key>
                <string>{36,82}</string>
                <key>textureRect</key>
                <string>{{473,402},{36,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_37x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,23}</string>
                <key>spriteSourceSize</key>
                <string>{37,23}</string>
                <key>textureRect</key>
                <string>{{727,470},{37,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{973,285},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_42x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{854,307},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_48x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{921,285},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_48x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{953,327},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_48x38_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{953,369},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_54x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,36}</string>
                <key>spriteSourceSize</key>
                <string>{54,36}</string>
                <key>textureRect</key>
                <string>{{886,132},{54,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_54x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,70}</string>
                <key>spriteSourceSize</key>
                <string>{54,70}</string>
                <key>textureRect</key>
                <string>{{799,366},{54,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_54x70_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,70}</string>
                <key>spriteSourceSize</key>
                <string>{54,70}</string>
                <key>textureRect</key>
                <string>{{857,361},{54,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_55x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,67}</string>
                <key>textureRect</key>
                <string>{{944,116},{55,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_58x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,30}</string>
                <key>spriteSourceSize</key>
                <string>{58,30}</string>
                <key>textureRect</key>
                <string>{{513,464},{58,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_59x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,90}</string>
                <key>spriteSourceSize</key>
                <string>{59,90}</string>
                <key>textureRect</key>
                <string>{{410,402},{59,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_64x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,104}</string>
                <key>spriteSourceSize</key>
                <string>{64,104}</string>
                <key>textureRect</key>
                <string>{{734,256},{64,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_72x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{72,108}</string>
                <key>textureRect</key>
                <string>{{942,4},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_80x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,111}</string>
                <key>spriteSourceSize</key>
                <string>{80,111}</string>
                <key>textureRect</key>
                <string>{{518,292},{80,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_81x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,53}</string>
                <key>spriteSourceSize</key>
                <string>{81,53}</string>
                <key>textureRect</key>
                <string>{{513,407},{81,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_86x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,45}</string>
                <key>textureRect</key>
                <string>{{96,443},{86,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_86x45_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,45}</string>
                <key>textureRect</key>
                <string>{{774,171},{86,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_86x45_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,45}</string>
                <key>textureRect</key>
                <string>{{799,440},{86,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_86x45_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,45}</string>
                <key>textureRect</key>
                <string>{{923,187},{86,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_86x45_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,45}</string>
                <key>textureRect</key>
                <string>{{923,236},{86,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_88x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,46}</string>
                <key>spriteSourceSize</key>
                <string>{88,46}</string>
                <key>textureRect</key>
                <string>{{4,443},{88,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_92x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,102}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{703,364},{92,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_92x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,78}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{314,402},{92,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_96x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,35}</string>
                <key>spriteSourceSize</key>
                <string>{96,35}</string>
                <key>textureRect</key>
                <string>{{786,132},{96,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91030-baal-body_97x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,117}</string>
                <key>spriteSourceSize</key>
                <string>{97,117}</string>
                <key>textureRect</key>
                <string>{{602,363},{97,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91030-baal-body.png</string>
            <key>size</key>
            <string>{1018,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b47ccc015a9e0a00a628285a69beca6:52473dd533b3c4680453762b99e7664f:ecc14181cbe63c5e57a1bcf80e487bf9$</string>
            <key>textureFileName</key>
            <string>u91030-baal-body.png</string>
        </dict>
    </dict>
</plist>
