<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1137h-cony-body_101x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,138}</string>
                <key>spriteSourceSize</key>
                <string>{101,138}</string>
                <key>textureRect</key>
                <string>{{171,419},{101,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_116x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{273,564},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_122x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,106}</string>
                <key>spriteSourceSize</key>
                <string>{122,106}</string>
                <key>textureRect</key>
                <string>{{260,684},{122,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_129x152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,152}</string>
                <key>spriteSourceSize</key>
                <string>{129,152}</string>
                <key>textureRect</key>
                <string>{{368,4},{129,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_151x203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,203}</string>
                <key>spriteSourceSize</key>
                <string>{151,203}</string>
                <key>textureRect</key>
                <string>{{179,212},{151,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_151x210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,210}</string>
                <key>spriteSourceSize</key>
                <string>{151,210}</string>
                <key>textureRect</key>
                <string>{{4,837},{151,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_154x212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,212}</string>
                <key>spriteSourceSize</key>
                <string>{154,212}</string>
                <key>textureRect</key>
                <string>{{4,621},{154,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_160x204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,204}</string>
                <key>spriteSourceSize</key>
                <string>{160,204}</string>
                <key>textureRect</key>
                <string>{{204,4},{160,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_163x207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,207}</string>
                <key>spriteSourceSize</key>
                <string>{163,207}</string>
                <key>textureRect</key>
                <string>{{4,410},{163,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_171x207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,207}</string>
                <key>spriteSourceSize</key>
                <string>{171,207}</string>
                <key>textureRect</key>
                <string>{{4,199},{171,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_196x191.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,191}</string>
                <key>spriteSourceSize</key>
                <string>{196,191}</string>
                <key>textureRect</key>
                <string>{{4,4},{196,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_19x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{488,827},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_19x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,31}</string>
                <key>spriteSourceSize</key>
                <string>{19,31}</string>
                <key>textureRect</key>
                <string>{{488,792},{19,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_24x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{483,912},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_24x31_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{483,947},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_24x31_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{219,800},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_24x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{483,864},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_25x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{317,1051},{25,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_25x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{470,992},{25,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_25x42_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{470,1038},{25,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_25x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{25,44}</string>
                <key>textureRect</key>
                <string>{{424,354},{25,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_27x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{453,1084},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_27x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,38}</string>
                <key>spriteSourceSize</key>
                <string>{27,38}</string>
                <key>textureRect</key>
                <string>{{388,1047},{27,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_27x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,40}</string>
                <key>spriteSourceSize</key>
                <string>{27,40}</string>
                <key>textureRect</key>
                <string>{{395,904},{27,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_27x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,40}</string>
                <key>spriteSourceSize</key>
                <string>{27,40}</string>
                <key>textureRect</key>
                <string>{{395,948},{27,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_28x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{479,746},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_29x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{29,45}</string>
                <key>textureRect</key>
                <string>{{395,992},{29,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_30x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,42}</string>
                <key>textureRect</key>
                <string>{{304,959},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_30x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,42}</string>
                <key>textureRect</key>
                <string>{{303,1005},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_30x42_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,42}</string>
                <key>textureRect</key>
                <string>{{419,1072},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{304,907},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_32x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{259,1035},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{428,992},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_38x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{346,1047},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_38x36_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{428,1032},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_40x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,61}</string>
                <key>spriteSourceSize</key>
                <string>{40,61}</string>
                <key>textureRect</key>
                <string>{{259,970},{40,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_42x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{442,818},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_46x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,59}</string>
                <key>spriteSourceSize</key>
                <string>{46,59}</string>
                <key>textureRect</key>
                <string>{{254,907},{46,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_46x59_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,59}</string>
                <key>spriteSourceSize</key>
                <string>{46,59}</string>
                <key>textureRect</key>
                <string>{{318,836},{46,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_47x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,60}</string>
                <key>spriteSourceSize</key>
                <string>{47,60}</string>
                <key>textureRect</key>
                <string>{{95,1051},{47,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_53x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,32}</string>
                <key>spriteSourceSize</key>
                <string>{53,32}</string>
                <key>textureRect</key>
                <string>{{162,800},{53,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_53x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,32}</string>
                <key>spriteSourceSize</key>
                <string>{53,32}</string>
                <key>textureRect</key>
                <string>{{162,800},{53,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_53x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,38}</string>
                <key>spriteSourceSize</key>
                <string>{53,38}</string>
                <key>textureRect</key>
                <string>{{426,864},{53,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_53x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,39}</string>
                <key>spriteSourceSize</key>
                <string>{53,39}</string>
                <key>textureRect</key>
                <string>{{426,906},{53,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_53x39_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,39}</string>
                <key>spriteSourceSize</key>
                <string>{53,39}</string>
                <key>textureRect</key>
                <string>{{338,954},{53,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_53x39_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,39}</string>
                <key>spriteSourceSize</key>
                <string>{53,39}</string>
                <key>textureRect</key>
                <string>{{426,949},{53,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_53x39_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,39}</string>
                <key>spriteSourceSize</key>
                <string>{53,39}</string>
                <key>textureRect</key>
                <string>{{426,906},{53,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_53x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,46}</string>
                <key>textureRect</key>
                <string>{{338,904},{53,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_53x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,46}</string>
                <key>textureRect</key>
                <string>{{260,1063},{53,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_53x46_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,46}</string>
                <key>textureRect</key>
                <string>{{338,997},{53,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_53x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,48}</string>
                <key>textureRect</key>
                <string>{{368,160},{53,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_53x48_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,48}</string>
                <key>textureRect</key>
                <string>{{146,1063},{53,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_53x48_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,48}</string>
                <key>textureRect</key>
                <string>{{203,1063},{53,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_54x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{326,794},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_54x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,39}</string>
                <key>spriteSourceSize</key>
                <string>{54,39}</string>
                <key>textureRect</key>
                <string>{{384,818},{54,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_54x39_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,39}</string>
                <key>spriteSourceSize</key>
                <string>{54,39}</string>
                <key>textureRect</key>
                <string>{{368,861},{54,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_54x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,41}</string>
                <key>spriteSourceSize</key>
                <string>{54,41}</string>
                <key>textureRect</key>
                <string>{{453,499},{54,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_54x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,44}</string>
                <key>spriteSourceSize</key>
                <string>{54,44}</string>
                <key>textureRect</key>
                <string>{{453,403},{54,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_54x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,44}</string>
                <key>spriteSourceSize</key>
                <string>{54,44}</string>
                <key>textureRect</key>
                <string>{{453,451},{54,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_54x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{453,354},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_60x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{60,84}</string>
                <key>textureRect</key>
                <string>{{254,819},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_61x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{61,54}</string>
                <key>textureRect</key>
                <string>{{362,506},{61,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_62x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{260,794},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_72x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,52}</string>
                <key>spriteSourceSize</key>
                <string>{72,52}</string>
                <key>textureRect</key>
                <string>{{334,359},{72,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_72x52_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,52}</string>
                <key>spriteSourceSize</key>
                <string>{72,52}</string>
                <key>textureRect</key>
                <string>{{424,298},{72,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_82x134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,134}</string>
                <key>spriteSourceSize</key>
                <string>{82,134}</string>
                <key>textureRect</key>
                <string>{{425,160},{82,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_82x141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,141}</string>
                <key>spriteSourceSize</key>
                <string>{82,141}</string>
                <key>textureRect</key>
                <string>{{276,419},{82,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_86x143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,143}</string>
                <key>spriteSourceSize</key>
                <string>{86,143}</string>
                <key>textureRect</key>
                <string>{{334,212},{86,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_87x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,66}</string>
                <key>spriteSourceSize</key>
                <string>{87,66}</string>
                <key>textureRect</key>
                <string>{{4,1051},{87,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_87x87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{362,415},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_87x87_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{393,564},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_87x87_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{393,655},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_89x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,68}</string>
                <key>spriteSourceSize</key>
                <string>{89,68}</string>
                <key>textureRect</key>
                <string>{{386,746},{89,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_91x135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,135}</string>
                <key>spriteSourceSize</key>
                <string>{91,135}</string>
                <key>textureRect</key>
                <string>{{159,837},{91,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_94x139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,139}</string>
                <key>spriteSourceSize</key>
                <string>{94,139}</string>
                <key>textureRect</key>
                <string>{{162,657},{94,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_96x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,83}</string>
                <key>spriteSourceSize</key>
                <string>{96,83}</string>
                <key>textureRect</key>
                <string>{{159,976},{96,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_96x83_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,83}</string>
                <key>spriteSourceSize</key>
                <string>{96,83}</string>
                <key>textureRect</key>
                <string>{{159,976},{96,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_98x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{171,561},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_9x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,11}</string>
                <key>spriteSourceSize</key>
                <string>{9,11}</string>
                <key>textureRect</key>
                <string>{{260,657},{9,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_9x11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,11}</string>
                <key>spriteSourceSize</key>
                <string>{9,11}</string>
                <key>textureRect</key>
                <string>{{247,800},{9,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-body_9x11_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,11}</string>
                <key>spriteSourceSize</key>
                <string>{9,11}</string>
                <key>textureRect</key>
                <string>{{427,506},{9,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1137h-cony-body.png</string>
            <key>size</key>
            <string>{511,1121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:719993fc64827c80a44fcec0e3e643cd:8ae2df28598cce33b209a293a5f481b0:b2048a1e2a6cde0433a95198e268a84c$</string>
            <key>textureFileName</key>
            <string>u1137h-cony-body.png</string>
        </dict>
    </dict>
</plist>
