<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1137h-cony-bul_87x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,77}</string>
                <key>spriteSourceSize</key>
                <string>{87,77}</string>
                <key>textureRect</key>
                <string>{{4,4},{87,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1137h-cony-bul.png</string>
            <key>size</key>
            <string>{95,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6415dc95c6f2ba4e6d1df0dd2eb6766:70af45a9c6b178f2b13e90e8969b457a:ec73a48fa2f7783285776cfec5bee4d5$</string>
            <key>textureFileName</key>
            <string>u1137h-cony-bul.png</string>
        </dict>
    </dict>
</plist>
