<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1137h-cony-bul2_108x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{390,4},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-bul2_148x145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,145}</string>
                <key>spriteSourceSize</key>
                <string>{148,145}</string>
                <key>textureRect</key>
                <string>{{238,4},{148,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-bul2_230x151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,151}</string>
                <key>spriteSourceSize</key>
                <string>{230,151}</string>
                <key>textureRect</key>
                <string>{{4,4},{230,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1137h-cony-bul2_74x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{390,116},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1137h-cony-bul2.png</string>
            <key>size</key>
            <string>{502,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c30d193e1456f3fd898147091660e861:a1bddb5b21a57949f7504c9d3f60c3fc:430787ca425d9b0d21d702becb558260$</string>
            <key>textureFileName</key>
            <string>u1137h-cony-bul2.png</string>
        </dict>
    </dict>
</plist>
