<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1148h-souei-bul3_100x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,110}</string>
                <key>spriteSourceSize</key>
                <string>{100,110}</string>
                <key>textureRect</key>
                <string>{{606,324},{100,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_104x120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,120}</string>
                <key>spriteSourceSize</key>
                <string>{104,120}</string>
                <key>textureRect</key>
                <string>{{368,378},{104,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_104x158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,158}</string>
                <key>spriteSourceSize</key>
                <string>{104,158}</string>
                <key>textureRect</key>
                <string>{{352,216},{104,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_106x188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,188}</string>
                <key>spriteSourceSize</key>
                <string>{106,188}</string>
                <key>textureRect</key>
                <string>{{28,235},{106,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_108x164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,164}</string>
                <key>spriteSourceSize</key>
                <string>{108,164}</string>
                <key>textureRect</key>
                <string>{{240,219},{108,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_110x227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,227}</string>
                <key>spriteSourceSize</key>
                <string>{110,227}</string>
                <key>textureRect</key>
                <string>{{28,4},{110,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_110x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,38}</string>
                <key>spriteSourceSize</key>
                <string>{110,38}</string>
                <key>textureRect</key>
                <string>{{710,418},{110,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_110x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,38}</string>
                <key>spriteSourceSize</key>
                <string>{110,38}</string>
                <key>textureRect</key>
                <string>{{680,460},{110,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_114x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,68}</string>
                <key>spriteSourceSize</key>
                <string>{114,68}</string>
                <key>textureRect</key>
                <string>{{4,427},{114,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_124x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,106}</string>
                <key>spriteSourceSize</key>
                <string>{124,106}</string>
                <key>textureRect</key>
                <string>{{240,387},{124,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_124x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{124,108}</string>
                <key>textureRect</key>
                <string>{{590,212},{124,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_124x211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,211}</string>
                <key>spriteSourceSize</key>
                <string>{124,211}</string>
                <key>textureRect</key>
                <string>{{142,4},{124,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_126x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{126,104}</string>
                <key>textureRect</key>
                <string>{{476,359},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_126x144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,144}</string>
                <key>spriteSourceSize</key>
                <string>{126,144}</string>
                <key>textureRect</key>
                <string>{{460,211},{126,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_128x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,90}</string>
                <key>textureRect</key>
                <string>{{710,324},{128,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_136x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,84}</string>
                <key>spriteSourceSize</key>
                <string>{136,84}</string>
                <key>textureRect</key>
                <string>{{627,124},{136,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_140x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,23}</string>
                <key>spriteSourceSize</key>
                <string>{140,23}</string>
                <key>textureRect</key>
                <string>{{476,467},{140,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_148x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,76}</string>
                <key>spriteSourceSize</key>
                <string>{148,76}</string>
                <key>textureRect</key>
                <string>{{270,136},{148,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_160x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,137}</string>
                <key>spriteSourceSize</key>
                <string>{160,137}</string>
                <key>textureRect</key>
                <string>{{456,4},{160,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_162x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,116}</string>
                <key>spriteSourceSize</key>
                <string>{162,116}</string>
                <key>textureRect</key>
                <string>{{620,4},{162,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_182x128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,128}</string>
                <key>spriteSourceSize</key>
                <string>{182,128}</string>
                <key>textureRect</key>
                <string>{{270,4},{182,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_201x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,62}</string>
                <key>spriteSourceSize</key>
                <string>{201,62}</string>
                <key>textureRect</key>
                <string>{{422,145},{201,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_20x418.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,418}</string>
                <key>spriteSourceSize</key>
                <string>{20,418}</string>
                <key>textureRect</key>
                <string>{{4,4},{20,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{807,174},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_32x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{786,48},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{796,282},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{794,460},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{767,174},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{786,212},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_48x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{786,254},{48,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_52x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,40}</string>
                <key>spriteSourceSize</key>
                <string>{52,40}</string>
                <key>textureRect</key>
                <string>{{786,4},{52,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_56x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{56,66}</string>
                <key>textureRect</key>
                <string>{{620,438},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_62x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{62,46}</string>
                <key>textureRect</key>
                <string>{{767,124},{62,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_64x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{718,212},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_74x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,20}</string>
                <key>spriteSourceSize</key>
                <string>{74,20}</string>
                <key>textureRect</key>
                <string>{{718,284},{74,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1148h-souei-bul3_98x236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,236}</string>
                <key>spriteSourceSize</key>
                <string>{98,236}</string>
                <key>textureRect</key>
                <string>{{138,235},{98,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1148h-souei-bul3.png</string>
            <key>size</key>
            <string>{842,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:246283a8a0ff0c40828e53fc7ced6cfe:d9c681c00194862124054dc279b14185:6849f817a0234f4c2d3f0ea38f04b5c4$</string>
            <key>textureFileName</key>
            <string>u1148h-souei-bul3.png</string>
        </dict>
    </dict>
</plist>
