<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91017-jane-body_102x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{268,286},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_118x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,114}</string>
                <key>spriteSourceSize</key>
                <string>{118,114}</string>
                <key>textureRect</key>
                <string>{{138,402},{118,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_121x121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{326,146},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_126x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,112}</string>
                <key>spriteSourceSize</key>
                <string>{126,112}</string>
                <key>textureRect</key>
                <string>{{138,286},{126,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_126x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,42}</string>
                <key>spriteSourceSize</key>
                <string>{126,42}</string>
                <key>textureRect</key>
                <string>{{138,520},{126,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_128x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{128,136}</string>
                <key>textureRect</key>
                <string>{{194,146},{128,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_128x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,138}</string>
                <key>spriteSourceSize</key>
                <string>{128,138}</string>
                <key>textureRect</key>
                <string>{{328,4},{128,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_130x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,136}</string>
                <key>spriteSourceSize</key>
                <string>{130,136}</string>
                <key>textureRect</key>
                <string>{{4,426},{130,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_130x138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,138}</string>
                <key>spriteSourceSize</key>
                <string>{130,138}</string>
                <key>textureRect</key>
                <string>{{194,4},{130,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_130x138_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,138}</string>
                <key>spriteSourceSize</key>
                <string>{130,138}</string>
                <key>textureRect</key>
                <string>{{4,284},{130,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_159x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{268,391},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_168x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,57}</string>
                <key>spriteSourceSize</key>
                <string>{168,57}</string>
                <key>textureRect</key>
                <string>{{260,457},{168,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_186x136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,136}</string>
                <key>spriteSourceSize</key>
                <string>{186,136}</string>
                <key>textureRect</key>
                <string>{{4,4},{186,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_186x136_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,136}</string>
                <key>spriteSourceSize</key>
                <string>{186,136}</string>
                <key>textureRect</key>
                <string>{{4,144},{186,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{460,54},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{460,76},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_24x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{460,26},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_34x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,18}</string>
                <key>spriteSourceSize</key>
                <string>{34,18}</string>
                <key>textureRect</key>
                <string>{{460,4},{34,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_39x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,59}</string>
                <key>spriteSourceSize</key>
                <string>{39,59}</string>
                <key>textureRect</key>
                <string>{{432,452},{39,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_43x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,62}</string>
                <key>spriteSourceSize</key>
                <string>{43,62}</string>
                <key>textureRect</key>
                <string>{{439,271},{43,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_44x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{44,54}</string>
                <key>textureRect</key>
                <string>{{451,146},{44,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_44x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{44,54}</string>
                <key>textureRect</key>
                <string>{{451,204},{44,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_49x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,23}</string>
                <key>spriteSourceSize</key>
                <string>{49,23}</string>
                <key>textureRect</key>
                <string>{{324,518},{49,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_49x23_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,23}</string>
                <key>spriteSourceSize</key>
                <string>{49,23}</string>
                <key>textureRect</key>
                <string>{{377,518},{49,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_52x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{52,44}</string>
                <key>textureRect</key>
                <string>{{268,518},{52,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_54x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{431,400},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_54x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{374,336},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_59x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{432,337},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91017-jane-body_61x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{374,271},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91017-jane-body.png</string>
            <key>size</key>
            <string>{499,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f00a93bc666895e6b91cf09129ebde3:5b625799594f63e0a0784264c219e1e0:5f429993dca7f4c3efd4dbd7269f1f7a$</string>
            <key>textureFileName</key>
            <string>u91017-jane-body.png</string>
        </dict>
    </dict>
</plist>
