<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1395e-brown-body_100x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,44}</string>
                <key>textureRect</key>
                <string>{{143,121},{100,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_100x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{2,512},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_102x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{2,244},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_106x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,24}</string>
                <key>spriteSourceSize</key>
                <string>{106,24}</string>
                <key>textureRect</key>
                <string>{{132,433},{106,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_106x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,34}</string>
                <key>spriteSourceSize</key>
                <string>{106,34}</string>
                <key>textureRect</key>
                <string>{{106,311},{106,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_106x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,44}</string>
                <key>spriteSourceSize</key>
                <string>{106,44}</string>
                <key>textureRect</key>
                <string>{{122,347},{106,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_116x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,38}</string>
                <key>spriteSourceSize</key>
                <string>{116,38}</string>
                <key>textureRect</key>
                <string>{{122,393},{116,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_118x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,86}</string>
                <key>spriteSourceSize</key>
                <string>{118,86}</string>
                <key>textureRect</key>
                <string>{{2,348},{118,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_128x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,74}</string>
                <key>textureRect</key>
                <string>{{2,436},{128,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_130x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,88}</string>
                <key>spriteSourceSize</key>
                <string>{130,88}</string>
                <key>textureRect</key>
                <string>{{2,154},{130,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_139x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,150}</string>
                <key>spriteSourceSize</key>
                <string>{139,150}</string>
                <key>textureRect</key>
                <string>{{2,2},{139,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_16x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{146,594},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_20x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{146,994},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_24x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{120,994},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_24x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{132,481},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_24x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{184,980},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_24x26_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{221,896},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_24x26_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{212,924},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_24x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{184,944},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_24x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{230,343},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_26x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{228,753},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_26x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{228,709},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_28x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{221,864},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_28x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{226,531},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_30x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,104}</string>
                <key>spriteSourceSize</key>
                <string>{30,104}</string>
                <key>textureRect</key>
                <string>{{2,896},{30,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_30x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,130}</string>
                <key>spriteSourceSize</key>
                <string>{30,130}</string>
                <key>textureRect</key>
                <string>{{2,764},{30,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_30x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{196,760},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_30x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{224,794},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_30x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,40}</string>
                <key>textureRect</key>
                <string>{{155,866},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_30x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{120,946},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_30x46_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{196,712},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_30x46_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{152,946},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{224,481},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{218,830},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_32x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{178,908},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{108,906},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_32x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{184,824},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_32x40_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{187,866},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_32x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{150,822},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{188,794},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_34x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{142,908},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_38x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{148,784},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_38x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{216,209},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_38x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{216,167},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_40x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{214,311},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_44x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,20}</string>
                <key>textureRect</key>
                <string>{{209,687},{44,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_45x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{94,800},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_45x37_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{108,867},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_45x37_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{146,609},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_45x37_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{193,609},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_45x37_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{209,648},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_46x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{148,712},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_46x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{148,748},{46,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_46x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{100,726},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_46x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{100,682},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_50x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{157,648},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_50x30_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{157,680},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_52x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{52,32}</string>
                <key>textureRect</key>
                <string>{{94,766},{52,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_52x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{52,64}</string>
                <key>textureRect</key>
                <string>{{92,594},{52,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_54x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{54,26}</string>
                <key>textureRect</key>
                <string>{{94,839},{54,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_56x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{104,512},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_58x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,10}</string>
                <key>spriteSourceSize</key>
                <string>{58,10}</string>
                <key>textureRect</key>
                <string>{{104,582},{58,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_58x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,102}</string>
                <key>spriteSourceSize</key>
                <string>{58,102}</string>
                <key>textureRect</key>
                <string>{{34,764},{58,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_60x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{162,481},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_60x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{179,249},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_62x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{62,34}</string>
                <key>textureRect</key>
                <string>{{162,541},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_63x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,20}</string>
                <key>spriteSourceSize</key>
                <string>{63,20}</string>
                <key>textureRect</key>
                <string>{{92,660},{63,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_71x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{106,244},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_72x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{34,868},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_74x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,30}</string>
                <key>spriteSourceSize</key>
                <string>{74,30}</string>
                <key>textureRect</key>
                <string>{{164,577},{74,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_80x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{134,167},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_84x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{84,70}</string>
                <key>textureRect</key>
                <string>{{34,946},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_88x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{2,594},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_92x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,20}</string>
                <key>spriteSourceSize</key>
                <string>{92,20}</string>
                <key>textureRect</key>
                <string>{{132,459},{92,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_96x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,78}</string>
                <key>spriteSourceSize</key>
                <string>{96,78}</string>
                <key>textureRect</key>
                <string>{{2,684},{96,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_98x117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,117}</string>
                <key>spriteSourceSize</key>
                <string>{98,117}</string>
                <key>textureRect</key>
                <string>{{143,2},{98,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1395e-brown-body_9x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{146,648},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1395e-brown-body.png</string>
            <key>size</key>
            <string>{256,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee65392fabbfa20854b024e28c797163:69cb0efb7e1fdec457dff6912d501e74:df122deb323fd907c38573364a5a9c30$</string>
            <key>textureFileName</key>
            <string>u1395e-brown-body.png</string>
        </dict>
    </dict>
</plist>
