<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1395e-brown-bul_54x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{2,2},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1395e-brown-bul.png</string>
            <key>size</key>
            <string>{58,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcc4538ed5b090258e039cf9a7d58ccb:51df60a89044c3d69a493cd64501b730:f906d980a9399fd112903e116fcff9a6$</string>
            <key>textureFileName</key>
            <string>u1395e-brown-bul.png</string>
        </dict>
    </dict>
</plist>
