<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1357e-mg-bul_103x267.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,267}</string>
                <key>spriteSourceSize</key>
                <string>{103,267}</string>
                <key>textureRect</key>
                <string>{{350,4},{103,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_112x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,35}</string>
                <key>spriteSourceSize</key>
                <string>{112,35}</string>
                <key>textureRect</key>
                <string>{{163,438},{112,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_119x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,36}</string>
                <key>spriteSourceSize</key>
                <string>{119,36}</string>
                <key>textureRect</key>
                <string>{{266,378},{119,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_127x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,39}</string>
                <key>spriteSourceSize</key>
                <string>{127,39}</string>
                <key>textureRect</key>
                <string>{{266,335},{127,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_155x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,44}</string>
                <key>spriteSourceSize</key>
                <string>{155,44}</string>
                <key>textureRect</key>
                <string>{{4,432},{155,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_155x81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,81}</string>
                <key>spriteSourceSize</key>
                <string>{155,81}</string>
                <key>textureRect</key>
                <string>{{4,347},{155,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_156x339.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,339}</string>
                <key>spriteSourceSize</key>
                <string>{156,339}</string>
                <key>textureRect</key>
                <string>{{4,4},{156,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_15x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{475,506},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_17x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{399,505},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_182x190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,190}</string>
                <key>spriteSourceSize</key>
                <string>{182,190}</string>
                <key>textureRect</key>
                <string>{{164,4},{182,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_184x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,34}</string>
                <key>spriteSourceSize</key>
                <string>{184,34}</string>
                <key>textureRect</key>
                <string>{{4,480},{184,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_185x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,56}</string>
                <key>spriteSourceSize</key>
                <string>{185,56}</string>
                <key>textureRect</key>
                <string>{{266,275},{185,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_20x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{375,505},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_20x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,42}</string>
                <key>spriteSourceSize</key>
                <string>{20,42}</string>
                <key>textureRect</key>
                <string>{{457,232},{20,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_21x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,67}</string>
                <key>spriteSourceSize</key>
                <string>{21,67}</string>
                <key>textureRect</key>
                <string>{{457,4},{21,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{420,505},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_23x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,64}</string>
                <key>spriteSourceSize</key>
                <string>{23,64}</string>
                <key>textureRect</key>
                <string>{{457,75},{23,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_25x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{446,506},{25,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_26x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{455,278},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_26x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{458,314},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_27x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,38}</string>
                <key>spriteSourceSize</key>
                <string>{27,38}</string>
                <key>textureRect</key>
                <string>{{457,190},{27,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_28x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{457,143},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{458,350},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_32x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{448,471},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_47x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,67}</string>
                <key>spriteSourceSize</key>
                <string>{47,67}</string>
                <key>textureRect</key>
                <string>{{442,400},{47,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_55x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,44}</string>
                <key>spriteSourceSize</key>
                <string>{55,44}</string>
                <key>textureRect</key>
                <string>{{257,486},{55,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_55x44_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,44}</string>
                <key>spriteSourceSize</key>
                <string>{55,44}</string>
                <key>textureRect</key>
                <string>{{316,486},{55,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_57x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{397,335},{57,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_61x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,48}</string>
                <key>spriteSourceSize</key>
                <string>{61,48}</string>
                <key>textureRect</key>
                <string>{{192,477},{61,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_65x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,67}</string>
                <key>spriteSourceSize</key>
                <string>{65,67}</string>
                <key>textureRect</key>
                <string>{{266,198},{65,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_68x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{370,418},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_69x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,18}</string>
                <key>spriteSourceSize</key>
                <string>{69,18}</string>
                <key>textureRect</key>
                <string>{{375,483},{69,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_87x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,64}</string>
                <key>spriteSourceSize</key>
                <string>{87,64}</string>
                <key>textureRect</key>
                <string>{{279,418},{87,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1357e-mg-bul_98x236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,236}</string>
                <key>spriteSourceSize</key>
                <string>{98,236}</string>
                <key>textureRect</key>
                <string>{{164,198},{98,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1357e-mg-bul.png</string>
            <key>size</key>
            <string>{494,534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fee845445f0f47955983ceb672f2bcbe:ba00785b1f74ed338a49d547e5d3a788:fa36331ce07a0c35d11cdf61e65df715$</string>
            <key>textureFileName</key>
            <string>u1357e-mg-bul.png</string>
        </dict>
    </dict>
</plist>
