<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1306e-az-bul2_106x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{106,378},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_110x227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,227}</string>
                <key>spriteSourceSize</key>
                <string>{110,227}</string>
                <key>textureRect</key>
                <string>{{364,110},{110,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_110x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,38}</string>
                <key>spriteSourceSize</key>
                <string>{110,38}</string>
                <key>textureRect</key>
                <string>{{106,270},{110,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_110x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,38}</string>
                <key>spriteSourceSize</key>
                <string>{110,38}</string>
                <key>textureRect</key>
                <string>{{106,336},{110,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_114x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,68}</string>
                <key>spriteSourceSize</key>
                <string>{114,68}</string>
                <key>textureRect</key>
                <string>{{106,198},{114,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_124x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,106}</string>
                <key>spriteSourceSize</key>
                <string>{124,106}</string>
                <key>textureRect</key>
                <string>{{216,384},{124,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_124x108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{124,108}</string>
                <key>textureRect</key>
                <string>{{350,341},{124,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_126x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{126,104}</string>
                <key>textureRect</key>
                <string>{{220,276},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_128x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,90}</string>
                <key>textureRect</key>
                <string>{{224,182},{128,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_136x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,84}</string>
                <key>spriteSourceSize</key>
                <string>{136,84}</string>
                <key>textureRect</key>
                <string>{{224,94},{136,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_148x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,76}</string>
                <key>spriteSourceSize</key>
                <string>{148,76}</string>
                <key>textureRect</key>
                <string>{{4,66},{148,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_16x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,52}</string>
                <key>spriteSourceSize</key>
                <string>{16,52}</string>
                <key>textureRect</key>
                <string>{{376,531},{16,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_18x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{127,312},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_208x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,42}</string>
                <key>spriteSourceSize</key>
                <string>{208,42}</string>
                <key>textureRect</key>
                <string>{{234,48},{208,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_226x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,14}</string>
                <key>spriteSourceSize</key>
                <string>{226,14}</string>
                <key>textureRect</key>
                <string>{{4,48},{226,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_22x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{101,312},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_22x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{22,44}</string>
                <key>textureRect</key>
                <string>{{160,540},{22,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_22x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,8}</string>
                <key>spriteSourceSize</key>
                <string>{22,8}</string>
                <key>textureRect</key>
                <string>{{364,94},{22,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_26x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{448,557},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_28x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,58}</string>
                <key>spriteSourceSize</key>
                <string>{28,58}</string>
                <key>textureRect</key>
                <string>{{446,48},{28,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{106,554},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_30x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{344,453},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_30x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{290,494},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{324,494},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_32x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{286,536},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{428,521},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_34x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,38}</string>
                <key>textureRect</key>
                <string>{{252,494},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{214,494},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_36x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{420,453},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_36x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{246,538},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_38x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{378,453},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_44x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{428,491},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_46x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{106,146},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_470x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,40}</string>
                <key>spriteSourceSize</key>
                <string>{470,40}</string>
                <key>textureRect</key>
                <string>{{4,4},{470,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_48x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{396,557},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_50x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{322,536},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_50x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{160,490},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_50x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{106,494},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_56x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,40}</string>
                <key>textureRect</key>
                <string>{{186,540},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_64x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,34}</string>
                <key>spriteSourceSize</key>
                <string>{64,34}</string>
                <key>textureRect</key>
                <string>{{360,493},{64,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_64x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{156,138},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_64x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{156,66},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_93x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,79}</string>
                <key>spriteSourceSize</key>
                <string>{93,79}</string>
                <key>textureRect</key>
                <string>{{4,252},{93,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_98x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{98,102}</string>
                <key>textureRect</key>
                <string>{{4,146},{98,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1306e-az-bul2_98x236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,236}</string>
                <key>spriteSourceSize</key>
                <string>{98,236}</string>
                <key>textureRect</key>
                <string>{{4,341},{98,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1306e-az-bul2.png</string>
            <key>size</key>
            <string>{478,589}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:206a0107f57a77c3dad42cdef8d72f4e:dfac230ede744f5e8fcd355bcd4d2a8f:f97a3121551cad1d8f3f1962bc491137$</string>
            <key>textureFileName</key>
            <string>u1306e-az-bul2.png</string>
        </dict>
    </dict>
</plist>
