<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1281e-lv-bul_102x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,60}</string>
                <key>spriteSourceSize</key>
                <string>{102,60}</string>
                <key>textureRect</key>
                <string>{{155,68},{102,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_118x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,60}</string>
                <key>spriteSourceSize</key>
                <string>{118,60}</string>
                <key>textureRect</key>
                <string>{{155,4},{118,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_12x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{158,439},{12,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_146x126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,126}</string>
                <key>spriteSourceSize</key>
                <string>{146,126}</string>
                <key>textureRect</key>
                <string>{{4,187},{146,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_147x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,84}</string>
                <key>spriteSourceSize</key>
                <string>{147,84}</string>
                <key>textureRect</key>
                <string>{{4,99},{147,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_147x91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,91}</string>
                <key>spriteSourceSize</key>
                <string>{147,91}</string>
                <key>textureRect</key>
                <string>{{4,4},{147,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{118,439},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_16x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{138,439},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_20x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{120,355},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_20x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,42}</string>
                <key>spriteSourceSize</key>
                <string>{20,42}</string>
                <key>textureRect</key>
                <string>{{96,317},{20,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_22x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,86}</string>
                <key>spriteSourceSize</key>
                <string>{22,86}</string>
                <key>textureRect</key>
                <string>{{92,372},{22,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_24x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{120,337},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_24x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{120,317},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_24x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{24,18}</string>
                <key>textureRect</key>
                <string>{{261,120},{24,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_24x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{24,48}</string>
                <key>textureRect</key>
                <string>{{261,68},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_28x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{257,332},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_30x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,14}</string>
                <key>spriteSourceSize</key>
                <string>{30,14}</string>
                <key>textureRect</key>
                <string>{{257,314},{30,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_30x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{257,264},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_30x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,54}</string>
                <key>textureRect</key>
                <string>{{257,206},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_30x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,60}</string>
                <key>spriteSourceSize</key>
                <string>{30,60}</string>
                <key>textureRect</key>
                <string>{{257,142},{30,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_38x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{4,317},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_39x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{248,372},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_40x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{174,428},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_42x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,22}</string>
                <key>textureRect</key>
                <string>{{230,452},{42,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_46x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,16}</string>
                <key>spriteSourceSize</key>
                <string>{46,16}</string>
                <key>textureRect</key>
                <string>{{46,317},{46,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_46x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{46,337},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_46x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,44}</string>
                <key>textureRect</key>
                <string>{{70,462},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_50x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{176,456},{50,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_52x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,42}</string>
                <key>textureRect</key>
                <string>{{120,459},{52,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_52x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{118,375},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_62x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,44}</string>
                <key>spriteSourceSize</key>
                <string>{62,44}</string>
                <key>textureRect</key>
                <string>{{4,462},{62,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_64x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{218,428},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_6x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{277,4},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_70x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,52}</string>
                <key>spriteSourceSize</key>
                <string>{70,52}</string>
                <key>textureRect</key>
                <string>{{174,372},{70,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_84x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{4,372},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul_98x236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,236}</string>
                <key>spriteSourceSize</key>
                <string>{98,236}</string>
                <key>textureRect</key>
                <string>{{155,132},{98,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1281e-lv-bul.png</string>
            <key>size</key>
            <string>{291,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac00260c7e646bb35c98e46fc258a98f:a39436f44c65ab6289ec088a4f8e9db6:48c1d7496d7333e62f4ad10221b3ac00$</string>
            <key>textureFileName</key>
            <string>u1281e-lv-bul.png</string>
        </dict>
    </dict>
</plist>
