<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1281e-lv-bul2_109x102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,102}</string>
                <key>spriteSourceSize</key>
                <string>{109,102}</string>
                <key>textureRect</key>
                <string>{{289,423},{109,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_122x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,111}</string>
                <key>spriteSourceSize</key>
                <string>{122,111}</string>
                <key>textureRect</key>
                <string>{{289,308},{122,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_129x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,76}</string>
                <key>spriteSourceSize</key>
                <string>{129,76}</string>
                <key>textureRect</key>
                <string>{{148,427},{129,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_134x151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,151}</string>
                <key>spriteSourceSize</key>
                <string>{134,151}</string>
                <key>textureRect</key>
                <string>{{301,153},{134,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_137x124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,124}</string>
                <key>spriteSourceSize</key>
                <string>{137,124}</string>
                <key>textureRect</key>
                <string>{{148,299},{137,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_140x132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,132}</string>
                <key>spriteSourceSize</key>
                <string>{140,132}</string>
                <key>textureRect</key>
                <string>{{4,296},{140,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_140x137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,137}</string>
                <key>spriteSourceSize</key>
                <string>{140,137}</string>
                <key>textureRect</key>
                <string>{{4,155},{140,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_142x145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,145}</string>
                <key>spriteSourceSize</key>
                <string>{142,145}</string>
                <key>textureRect</key>
                <string>{{303,4},{142,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_143x142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{154,153},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_145x145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{154,4},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_146x147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{4,4},{146,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_14x234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,234}</string>
                <key>spriteSourceSize</key>
                <string>{14,234}</string>
                <key>textureRect</key>
                <string>{{449,4},{14,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_172x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,14}</string>
                <key>spriteSourceSize</key>
                <string>{172,14}</string>
                <key>textureRect</key>
                <string>{{95,507},{172,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_25x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{439,276},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{439,242},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1281e-lv-bul2_87x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,84}</string>
                <key>spriteSourceSize</key>
                <string>{87,84}</string>
                <key>textureRect</key>
                <string>{{4,432},{87,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1281e-lv-bul2.png</string>
            <key>size</key>
            <string>{473,529}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63edd3e611dfbe21658c3e565225d8ea:be868e6b43f26268be52bd459304cba8:2f0b290dbf2e3e1f9e623f0dd0a95b8b$</string>
            <key>textureFileName</key>
            <string>u1281e-lv-bul2.png</string>
        </dict>
    </dict>
</plist>
