<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1438e-iz-bul_106x106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{2,118},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_110x114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{2,2},{110,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_110x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,20}</string>
                <key>spriteSourceSize</key>
                <string>{110,20}</string>
                <key>textureRect</key>
                <string>{{2,226},{110,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_110x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{110,34}</string>
                <key>textureRect</key>
                <string>{{228,94},{110,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_110x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{110,34}</string>
                <key>textureRect</key>
                <string>{{114,116},{110,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_112x112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{114,2},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_12x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{516,180},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_20x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{494,224},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_20x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{414,152},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_20x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{494,188},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_24x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,58}</string>
                <key>spriteSourceSize</key>
                <string>{24,58}</string>
                <key>textureRect</key>
                <string>{{410,188},{24,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_26x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{436,232},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_26x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{322,204},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_26x42_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{436,188},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_28x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{464,218},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{464,188},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_28x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{350,188},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_28x56_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{380,188},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_30x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{468,150},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_30x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,42}</string>
                <key>textureRect</key>
                <string>{{436,144},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_30x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,64}</string>
                <key>spriteSourceSize</key>
                <string>{30,64}</string>
                <key>textureRect</key>
                <string>{{496,2},{30,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{500,150},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_42x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{42,66}</string>
                <key>textureRect</key>
                <string>{{186,152},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_44x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{292,130},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_44x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{276,204},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_46x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{230,152},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_46x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,64}</string>
                <key>spriteSourceSize</key>
                <string>{46,64}</string>
                <key>textureRect</key>
                <string>{{488,84},{46,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_54x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,42}</string>
                <key>spriteSourceSize</key>
                <string>{54,42}</string>
                <key>textureRect</key>
                <string>{{278,160},{54,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_64x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{226,130},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_66x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{66,58}</string>
                <key>textureRect</key>
                <string>{{420,84},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_74x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,34}</string>
                <key>spriteSourceSize</key>
                <string>{74,34}</string>
                <key>textureRect</key>
                <string>{{338,152},{74,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_74x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,68}</string>
                <key>textureRect</key>
                <string>{{110,152},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_78x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,34}</string>
                <key>spriteSourceSize</key>
                <string>{78,34}</string>
                <key>textureRect</key>
                <string>{{196,220},{78,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_78x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,62}</string>
                <key>spriteSourceSize</key>
                <string>{78,62}</string>
                <key>textureRect</key>
                <string>{{340,88},{78,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_78x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{78,80}</string>
                <key>textureRect</key>
                <string>{{416,2},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_80x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,32}</string>
                <key>textureRect</key>
                <string>{{114,222},{80,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_88x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{326,2},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1438e-iz-bul_96x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{228,2},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>u1438e-iz-bul.png</string>
            <key>size</key>
            <string>{536,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7909853e5e3bda5ac39b229d962e6af:9634ba77ff463a3e10c962e4d4e1c67c:d666802bc37f8cdcdcc1ec7737aa1852$</string>
            <key>textureFileName</key>
            <string>u1438e-iz-bul.png</string>
        </dict>
    </dict>
</plist>
