<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endless_battle_icon_eff_64x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{180,4},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_64x80_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{180,88},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_68x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{68,80}</string>
                <key>textureRect</key>
                <string>{{82,324},{68,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_68x80_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{68,80}</string>
                <key>textureRect</key>
                <string>{{154,324},{68,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_72x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{172,172},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_72x72_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{160,248},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_74x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{4,168},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_74x76_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{82,218},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_74x76_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{4,248},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_74x76_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{4,328},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_80x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,66}</string>
                <key>textureRect</key>
                <string>{{4,98},{80,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_80x66_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,66}</string>
                <key>textureRect</key>
                <string>{{88,148},{80,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_80x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,68}</string>
                <key>textureRect</key>
                <string>{{96,4},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_80x68_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,68}</string>
                <key>textureRect</key>
                <string>{{96,76},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endless_battle_icon_eff_88x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{88,90}</string>
                <key>textureRect</key>
                <string>{{4,4},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>endless_battle_icon_eff.png</string>
            <key>size</key>
            <string>{248,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cb67ea20e5cef6e2d9178d367a17320:ac4fe539244a5b86a7b9f0a56e6e28ad:8989103c3411abc4c7bb24bf1dcfde5b$</string>
            <key>textureFileName</key>
            <string>endless_battle_icon_eff.png</string>
        </dict>
    </dict>
</plist>
