<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91005-nut-body_15x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{165,103},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{145,103},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{101,103},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{123,103},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_22x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,11}</string>
                <key>spriteSourceSize</key>
                <string>{22,11}</string>
                <key>textureRect</key>
                <string>{{384,113},{22,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_22x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{255,100},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_22x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{374,4},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_23x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{428,4},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_23x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{439,83},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_23x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,35}</string>
                <key>spriteSourceSize</key>
                <string>{23,35}</string>
                <key>textureRect</key>
                <string>{{414,44},{23,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_24x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{441,42},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_24x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{455,4},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_24x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{400,4},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_25x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,10}</string>
                <key>spriteSourceSize</key>
                <string>{25,10}</string>
                <key>textureRect</key>
                <string>{{410,113},{25,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_26x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{384,74},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_26x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,45}</string>
                <key>spriteSourceSize</key>
                <string>{26,45}</string>
                <key>textureRect</key>
                <string>{{315,78},{26,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_29x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,22}</string>
                <key>spriteSourceSize</key>
                <string>{29,22}</string>
                <key>textureRect</key>
                <string>{{374,48},{29,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_30x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{281,100},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_35x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{345,78},{35,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_56x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,70}</string>
                <key>spriteSourceSize</key>
                <string>{56,70}</string>
                <key>textureRect</key>
                <string>{{314,4},{56,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_63x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,92}</string>
                <key>spriteSourceSize</key>
                <string>{63,92}</string>
                <key>textureRect</key>
                <string>{{180,4},{63,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_63x92_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,92}</string>
                <key>spriteSourceSize</key>
                <string>{63,92}</string>
                <key>textureRect</key>
                <string>{{247,4},{63,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_67x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,24}</string>
                <key>spriteSourceSize</key>
                <string>{67,24}</string>
                <key>textureRect</key>
                <string>{{184,100},{67,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_75x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,95}</string>
                <key>spriteSourceSize</key>
                <string>{75,95}</string>
                <key>textureRect</key>
                <string>{{101,4},{75,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-body_93x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,116}</string>
                <key>spriteSourceSize</key>
                <string>{93,116}</string>
                <key>textureRect</key>
                <string>{{4,4},{93,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91005-nut-body.png</string>
            <key>size</key>
            <string>{483,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dbab85292f416033cf83fe07cef1f3b:bfa4e690d2c92cb4516a54dfe37fac5e:5e172c1a2bc015f01b9b2b691f095c52$</string>
            <key>textureFileName</key>
            <string>u91005-nut-body.png</string>
        </dict>
    </dict>
</plist>
