<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91005-nut-bul_24x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{83,30},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-bul_24x28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{83,62},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-bul_29x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,22}</string>
                <key>spriteSourceSize</key>
                <string>{29,22}</string>
                <key>textureRect</key>
                <string>{{83,4},{29,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-bul_30x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{64,151},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-bul_35x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{64,103},{35,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-bul_56x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,70}</string>
                <key>spriteSourceSize</key>
                <string>{56,70}</string>
                <key>textureRect</key>
                <string>{{4,103},{56,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91005-nut-bul_75x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,95}</string>
                <key>spriteSourceSize</key>
                <string>{75,95}</string>
                <key>textureRect</key>
                <string>{{4,4},{75,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91005-nut-bul.png</string>
            <key>size</key>
            <string>{116,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcf3755622a0a85e16ccb10f540c8b93:ccc257ae53e3d66356f29691bd4ca942:2d4a4870a3e5cdff5b71a244eee86ed3$</string>
            <key>textureFileName</key>
            <string>u91005-nut-bul.png</string>
        </dict>
    </dict>
</plist>
