<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1518e-ron-bul_55x55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{2,37},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1518e-ron-bul_79x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,33}</string>
                <key>spriteSourceSize</key>
                <string>{79,33}</string>
                <key>textureRect</key>
                <string>{{2,2},{79,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1518e-ron-bul.png</string>
            <key>size</key>
            <string>{83,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ced415e6894e1548cb59ae755b937a36:9d844f51208044316590b3df5bfaf236:ff360118a390b6cf3ce2627a3210b92a$</string>
            <key>textureFileName</key>
            <string>u1518e-ron-bul.png</string>
        </dict>
    </dict>
</plist>
