<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1518e-ron-bul3_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{196,95},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1518e-ron-bul3_13x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{181,95},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1518e-ron-bul3_156x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,30}</string>
                <key>spriteSourceSize</key>
                <string>{156,30}</string>
                <key>textureRect</key>
                <string>{{2,159},{156,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1518e-ron-bul3_177x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,53}</string>
                <key>spriteSourceSize</key>
                <string>{177,53}</string>
                <key>textureRect</key>
                <string>{{2,65},{177,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1518e-ron-bul3_195x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,37}</string>
                <key>spriteSourceSize</key>
                <string>{195,37}</string>
                <key>textureRect</key>
                <string>{{2,120},{195,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1518e-ron-bul3_216x61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,61}</string>
                <key>spriteSourceSize</key>
                <string>{216,61}</string>
                <key>textureRect</key>
                <string>{{2,2},{216,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1518e-ron-bul3_28x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{181,65},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1518e-ron-bul3_47x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{160,159},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1518e-ron-bul3_76x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,19}</string>
                <key>spriteSourceSize</key>
                <string>{76,19}</string>
                <key>textureRect</key>
                <string>{{102,208},{76,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1518e-ron-bul3_98x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,43}</string>
                <key>spriteSourceSize</key>
                <string>{98,43}</string>
                <key>textureRect</key>
                <string>{{2,191},{98,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1518e-ron-bul3.png</string>
            <key>size</key>
            <string>{220,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:929d82705c079c7ba710bc498dcfa574:a7a1fd3e33df3d6c1412572191161245:d60f760807813ba54f1b980eb4aaa029$</string>
            <key>textureFileName</key>
            <string>u1518e-ron-bul3.png</string>
        </dict>
    </dict>
</plist>
