<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1136h-moon-bul2_100x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{729,586},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_132x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{586,513},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_136x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,60}</string>
                <key>spriteSourceSize</key>
                <string>{136,60}</string>
                <key>textureRect</key>
                <string>{{833,586},{136,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_149x115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,115}</string>
                <key>spriteSourceSize</key>
                <string>{149,115}</string>
                <key>textureRect</key>
                <string>{{252,562},{149,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_149x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,85}</string>
                <key>spriteSourceSize</key>
                <string>{149,85}</string>
                <key>textureRect</key>
                <string>{{576,625},{149,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_152x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,104}</string>
                <key>spriteSourceSize</key>
                <string>{152,104}</string>
                <key>textureRect</key>
                <string>{{4,459},{152,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_167x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,80}</string>
                <key>spriteSourceSize</key>
                <string>{167,80}</string>
                <key>textureRect</key>
                <string>{{405,625},{167,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_168x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,69}</string>
                <key>spriteSourceSize</key>
                <string>{168,69}</string>
                <key>textureRect</key>
                <string>{{722,513},{168,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_176x129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,129}</string>
                <key>spriteSourceSize</key>
                <string>{176,129}</string>
                <key>textureRect</key>
                <string>{{440,350},{176,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_176x130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,130}</string>
                <key>spriteSourceSize</key>
                <string>{176,130}</string>
                <key>textureRect</key>
                <string>{{406,491},{176,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_182x67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,67}</string>
                <key>spriteSourceSize</key>
                <string>{182,67}</string>
                <key>textureRect</key>
                <string>{{220,491},{182,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_184x185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,185}</string>
                <key>spriteSourceSize</key>
                <string>{184,185}</string>
                <key>textureRect</key>
                <string>{{252,302},{184,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_200x153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,153}</string>
                <key>spriteSourceSize</key>
                <string>{200,153}</string>
                <key>textureRect</key>
                <string>{{4,302},{200,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_214x167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,167}</string>
                <key>spriteSourceSize</key>
                <string>{214,167}</string>
                <key>textureRect</key>
                <string>{{683,342},{214,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_237x168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,168}</string>
                <key>spriteSourceSize</key>
                <string>{237,168}</string>
                <key>textureRect</key>
                <string>{{442,178},{237,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_244x141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,141}</string>
                <key>spriteSourceSize</key>
                <string>{244,141}</string>
                <key>textureRect</key>
                <string>{{4,571},{244,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_245x170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,170}</string>
                <key>spriteSourceSize</key>
                <string>{245,170}</string>
                <key>textureRect</key>
                <string>{{694,4},{245,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_246x160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,160}</string>
                <key>spriteSourceSize</key>
                <string>{246,160}</string>
                <key>textureRect</key>
                <string>{{683,178},{246,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_248x170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,170}</string>
                <key>spriteSourceSize</key>
                <string>{248,170}</string>
                <key>textureRect</key>
                <string>{{442,4},{248,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_24x390.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,390}</string>
                <key>spriteSourceSize</key>
                <string>{24,390}</string>
                <key>textureRect</key>
                <string>{{943,4},{24,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_26x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{933,398},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_28x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{901,379},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_31x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{901,342},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_40x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{208,302},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_41x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,28}</string>
                <key>spriteSourceSize</key>
                <string>{41,28}</string>
                <key>textureRect</key>
                <string>{{160,508},{41,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_434x294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,294}</string>
                <key>spriteSourceSize</key>
                <string>{434,294}</string>
                <key>textureRect</key>
                <string>{{4,4},{434,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_54x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,80}</string>
                <key>textureRect</key>
                <string>{{913,427},{54,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_56x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,45}</string>
                <key>spriteSourceSize</key>
                <string>{56,45}</string>
                <key>textureRect</key>
                <string>{{160,459},{56,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_60x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{901,511},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul2_8x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,22}</string>
                <key>spriteSourceSize</key>
                <string>{8,22}</string>
                <key>textureRect</key>
                <string>{{901,413},{8,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1136h-moon-bul2.png</string>
            <key>size</key>
            <string>{973,716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dde4791eefd5b18e0104f6eb04dd9a4b:d7e270639366ee30b67611fff2734bab:b501ef5b6451c20704f26df36758be3b$</string>
            <key>textureFileName</key>
            <string>u1136h-moon-bul2.png</string>
        </dict>
    </dict>
</plist>
