<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1136h-moon-bul3_14x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{4,237},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{132,112},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{414,51},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{177,227},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{153,227},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_49x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,43}</string>
                <key>spriteSourceSize</key>
                <string>{49,43}</string>
                <key>textureRect</key>
                <string>{{414,4},{49,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_57x157.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,157}</string>
                <key>spriteSourceSize</key>
                <string>{57,157}</string>
                <key>textureRect</key>
                <string>{{71,4},{57,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_60x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{396,84},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_61x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,50}</string>
                <key>spriteSourceSize</key>
                <string>{61,50}</string>
                <key>textureRect</key>
                <string>{{4,183},{61,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_63x175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,175}</string>
                <key>spriteSourceSize</key>
                <string>{63,175}</string>
                <key>textureRect</key>
                <string>{{4,4},{63,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_68x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,111}</string>
                <key>spriteSourceSize</key>
                <string>{68,111}</string>
                <key>textureRect</key>
                <string>{{153,112},{68,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_68x57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{389,168},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_74x62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,62}</string>
                <key>spriteSourceSize</key>
                <string>{74,62}</string>
                <key>textureRect</key>
                <string>{{225,186},{74,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_78x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,104}</string>
                <key>spriteSourceSize</key>
                <string>{78,104}</string>
                <key>textureRect</key>
                <string>{{132,4},{78,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_78x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,74}</string>
                <key>textureRect</key>
                <string>{{307,168},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_78x86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{71,165},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_78x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,92}</string>
                <key>spriteSourceSize</key>
                <string>{78,92}</string>
                <key>textureRect</key>
                <string>{{225,90},{78,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_80x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{312,84},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_94x82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{214,4},{94,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1136h-moon-bul3_98x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,76}</string>
                <key>spriteSourceSize</key>
                <string>{98,76}</string>
                <key>textureRect</key>
                <string>{{312,4},{98,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1136h-moon-bul3.png</string>
            <key>size</key>
            <string>{467,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1fa4291c5258f54df310559808def99:08e79d5be01d072afdcbb125f0d02ca5:f8ae9e8654f80f74fd64ff437094934e$</string>
            <key>textureFileName</key>
            <string>u1136h-moon-bul3.png</string>
        </dict>
    </dict>
</plist>
