<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1138h-james-bul_78x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,40}</string>
                <key>spriteSourceSize</key>
                <string>{78,40}</string>
                <key>textureRect</key>
                <string>{{4,4},{78,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1138h-james-bul.png</string>
            <key>size</key>
            <string>{86,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b2c894ea41726deef7a8223b3ccac9e:b91fd0bbc2bf364068931d7c765a6143:7e5a5036be14b458d73c84c6b2b9fffd$</string>
            <key>textureFileName</key>
            <string>u1138h-james-bul.png</string>
        </dict>
    </dict>
</plist>
