<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1329e-moon-bul3_124x80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{2,88},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1329e-moon-bul3_141x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,84}</string>
                <key>spriteSourceSize</key>
                <string>{141,84}</string>
                <key>textureRect</key>
                <string>{{2,2},{141,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1329e-moon-bul3_62x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{2,170},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1329e-moon-bul3_91x90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{145,2},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1329e-moon-bul3_95x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{128,94},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1329e-moon-bul3.png</string>
            <key>size</key>
            <string>{238,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c3019f4ab7a7f49db0a30c768f9d4a2:a730a008220542bc218e986299170da4:2fff52d20f11ca944bd109510cdd0093$</string>
            <key>textureFileName</key>
            <string>u1329e-moon-bul3.png</string>
        </dict>
    </dict>
</plist>
