<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1115h-anastasia-bul3_110x107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{4,158},{110,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1115h-anastasia-bul3_13x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{81,90},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1115h-anastasia-bul3_28x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{81,56},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1115h-anastasia-bul3_30x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{81,4},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1115h-anastasia-bul3_73x150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,150}</string>
                <key>spriteSourceSize</key>
                <string>{73,150}</string>
                <key>textureRect</key>
                <string>{{4,4},{73,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1115h-anastasia-bul3_83x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,75}</string>
                <key>spriteSourceSize</key>
                <string>{83,75}</string>
                <key>textureRect</key>
                <string>{{4,269},{83,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1115h-anastasia-bul3.png</string>
            <key>size</key>
            <string>{118,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4e81013a7b79e60541121873a4c1b17:93c3f3d3280fc26fd9135ee0a0499be1:fab813e82ed8b680fa23d0aca116d7ee$</string>
            <key>textureFileName</key>
            <string>u1115h-anastasia-bul3.png</string>
        </dict>
    </dict>
</plist>
