<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2034h-sally-body_10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{94,597},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_111x111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{2,186},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_118x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,70}</string>
                <key>spriteSourceSize</key>
                <string>{118,70}</string>
                <key>textureRect</key>
                <string>{{115,186},{118,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_14x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{62,405},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_14x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{62,423},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_16x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{219,286},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{206,396},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_16x16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{224,396},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_16x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{168,586},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_16x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,22}</string>
                <key>spriteSourceSize</key>
                <string>{16,22}</string>
                <key>textureRect</key>
                <string>{{222,578},{16,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_16x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{202,552},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_18x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,14}</string>
                <key>textureRect</key>
                <string>{{200,536},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_18x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,6}</string>
                <key>spriteSourceSize</key>
                <string>{18,6}</string>
                <key>textureRect</key>
                <string>{{202,578},{18,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_20x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{220,564},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_227x182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,182}</string>
                <key>spriteSourceSize</key>
                <string>{227,182}</string>
                <key>textureRect</key>
                <string>{{2,2},{227,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_22x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{176,502},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_22x26_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{219,258},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_22x26_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{176,530},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_22x26_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{220,536},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_28x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{206,362},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_30x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{136,586},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_30x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{170,558},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_32x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{200,510},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_32x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{136,558},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_34x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{206,328},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_36x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{206,298},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_38x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{38,16}</string>
                <key>textureRect</key>
                <string>{{134,540},{38,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_40x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,22}</string>
                <key>spriteSourceSize</key>
                <string>{40,22}</string>
                <key>textureRect</key>
                <string>{{2,585},{40,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_40x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{94,559},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_40x36_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{134,502},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_40x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{62,443},{40,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_40x56_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{104,443},{40,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_40x56_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{50,501},{40,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_40x56_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{92,501},{40,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_42x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,16}</string>
                <key>spriteSourceSize</key>
                <string>{42,16}</string>
                <key>textureRect</key>
                <string>{{146,484},{42,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_42x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{175,258},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_42x38_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{50,559},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_42x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{200,468},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_42x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{200,414},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_46x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,84}</string>
                <key>spriteSourceSize</key>
                <string>{46,84}</string>
                <key>textureRect</key>
                <string>{{2,499},{46,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_52x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{52,32}</string>
                <key>textureRect</key>
                <string>{{146,414},{52,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_52x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{146,448},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_58x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,38}</string>
                <key>spriteSourceSize</key>
                <string>{58,38}</string>
                <key>textureRect</key>
                <string>{{115,258},{58,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_58x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{146,372},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_58x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{58,92}</string>
                <key>textureRect</key>
                <string>{{2,405},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_62x72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,72}</string>
                <key>spriteSourceSize</key>
                <string>{62,72}</string>
                <key>textureRect</key>
                <string>{{78,299},{62,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_62x72_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,72}</string>
                <key>spriteSourceSize</key>
                <string>{62,72}</string>
                <key>textureRect</key>
                <string>{{142,298},{62,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_66x68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{66,68}</string>
                <key>textureRect</key>
                <string>{{78,373},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-body_74x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,104}</string>
                <key>spriteSourceSize</key>
                <string>{74,104}</string>
                <key>textureRect</key>
                <string>{{2,299},{74,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2034h-sally-body.png</string>
            <key>size</key>
            <string>{244,609}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:587297cb8a5077e719687359ee563b13:0e37422176938ec32f53c9d4c141d6da:c13c7d1f2e3c165660d93fd98dd7a2b6$</string>
            <key>textureFileName</key>
            <string>u2034h-sally-body.png</string>
        </dict>
    </dict>
</plist>
