<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2034h-sally-bul_130x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,36}</string>
                <key>spriteSourceSize</key>
                <string>{130,36}</string>
                <key>textureRect</key>
                <string>{{2,2},{130,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul_52x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,26}</string>
                <key>spriteSourceSize</key>
                <string>{52,26}</string>
                <key>textureRect</key>
                <string>{{196,2},{52,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul_58x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,16}</string>
                <key>spriteSourceSize</key>
                <string>{58,16}</string>
                <key>textureRect</key>
                <string>{{134,20},{58,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul_60x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,16}</string>
                <key>spriteSourceSize</key>
                <string>{60,16}</string>
                <key>textureRect</key>
                <string>{{134,2},{60,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2034h-sally-bul.png</string>
            <key>size</key>
            <string>{250,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6958742cf97a3f0582119d3d96ce9871:aa1ed7c7ae226409d461f8ac502d09f3:7954c3054badb707df5fb48eac19e7f3$</string>
            <key>textureFileName</key>
            <string>u2034h-sally-bul.png</string>
        </dict>
    </dict>
</plist>
