<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u2034h-sally-bul3_100x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{224,2},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_100x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,28}</string>
                <key>textureRect</key>
                <string>{{2,190},{100,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_220x186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,186}</string>
                <key>spriteSourceSize</key>
                <string>{220,186}</string>
                <key>textureRect</key>
                <string>{{2,2},{220,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_30x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{347,134},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_32x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{347,96},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_34x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{62,220},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_38x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{182,190},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_41x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,22}</string>
                <key>spriteSourceSize</key>
                <string>{41,22}</string>
                <key>textureRect</key>
                <string>{{338,220},{41,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_45x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,58}</string>
                <key>spriteSourceSize</key>
                <string>{45,58}</string>
                <key>textureRect</key>
                <string>{{300,104},{45,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_50x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,32}</string>
                <key>spriteSourceSize</key>
                <string>{50,32}</string>
                <key>textureRect</key>
                <string>{{286,220},{50,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_58x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{2,220},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_58x92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{58,92}</string>
                <key>textureRect</key>
                <string>{{326,2},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_62x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{222,210},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_74x104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,104}</string>
                <key>spriteSourceSize</key>
                <string>{74,104}</string>
                <key>textureRect</key>
                <string>{{224,104},{74,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_74x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{74,54}</string>
                <key>textureRect</key>
                <string>{{300,164},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u2034h-sally-bul3_76x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,48}</string>
                <key>spriteSourceSize</key>
                <string>{76,48}</string>
                <key>textureRect</key>
                <string>{{104,190},{76,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u2034h-sally-bul3.png</string>
            <key>size</key>
            <string>{386,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9453b41e18369916442af17330790e9:d43ec525126f17cf1ce7d48d0f7dba4d:3deb5312c42841e8c75dbe276f041765$</string>
            <key>textureFileName</key>
            <string>u2034h-sally-bul3.png</string>
        </dict>
    </dict>
</plist>
