<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91011-della-body_110x110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{208,4},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_166x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,60}</string>
                <key>spriteSourceSize</key>
                <string>{166,60}</string>
                <key>textureRect</key>
                <string>{{4,244},{166,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{408,208},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{408,230},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_19x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{422,161},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_19x19_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{174,268},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_19x19_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{422,184},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_200x236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,236}</string>
                <key>spriteSourceSize</key>
                <string>{200,236}</string>
                <key>textureRect</key>
                <string>{{4,4},{200,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{174,244},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_37x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{422,120},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_37x54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,54}</string>
                <key>spriteSourceSize</key>
                <string>{37,54}</string>
                <key>textureRect</key>
                <string>{{422,4},{37,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_37x54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,54}</string>
                <key>spriteSourceSize</key>
                <string>{37,54}</string>
                <key>textureRect</key>
                <string>{{422,62},{37,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{328,391},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_55x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,39}</string>
                <key>spriteSourceSize</key>
                <string>{55,39}</string>
                <key>textureRect</key>
                <string>{{328,445},{55,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_64x101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,101}</string>
                <key>spriteSourceSize</key>
                <string>{64,101}</string>
                <key>textureRect</key>
                <string>{{392,310},{64,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_77x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{4,410},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_77x77_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{85,410},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_77x77_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{166,410},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_77x77_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{247,409},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_80x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,33}</string>
                <key>spriteSourceSize</key>
                <string>{80,33}</string>
                <key>textureRect</key>
                <string>{{308,310},{80,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_80x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{291,347},{80,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_83x83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{204,322},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_96x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{4,308},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_96x98_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{208,118},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_96x98_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{322,4},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_96x98_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{104,308},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_96x98_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{322,106},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_96x98_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{208,220},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91011-della-body_96x98_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{308,208},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91011-della-body.png</string>
            <key>size</key>
            <string>{463,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05c5001361babb8779e2cbb209812082:b47fe2e27c9f07a3e48efa6bcc9867ad:73d455639396a7ff8bdd44c626eb60cf$</string>
            <key>textureFileName</key>
            <string>u91011-della-body.png</string>
        </dict>
    </dict>
</plist>
