<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1017h-cygnus-bul2_101x79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,79}</string>
                <key>spriteSourceSize</key>
                <string>{101,79}</string>
                <key>textureRect</key>
                <string>{{253,306},{101,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_117x116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,116}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{620,260},{117,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_117x116_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,116}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{660,123},{117,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_127x133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,133}</string>
                <key>spriteSourceSize</key>
                <string>{127,133}</string>
                <key>textureRect</key>
                <string>{{136,169},{127,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_127x133_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,133}</string>
                <key>spriteSourceSize</key>
                <string>{127,133}</string>
                <key>textureRect</key>
                <string>{{154,4},{127,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_127x133_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,133}</string>
                <key>spriteSourceSize</key>
                <string>{127,133}</string>
                <key>textureRect</key>
                <string>{{267,144},{127,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_127x133_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,133}</string>
                <key>spriteSourceSize</key>
                <string>{127,133}</string>
                <key>textureRect</key>
                <string>{{358,281},{127,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_127x133_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,133}</string>
                <key>spriteSourceSize</key>
                <string>{127,133}</string>
                <key>textureRect</key>
                <string>{{398,123},{127,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_127x133_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,133}</string>
                <key>spriteSourceSize</key>
                <string>{127,133}</string>
                <key>textureRect</key>
                <string>{{489,260},{127,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_127x133_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,133}</string>
                <key>spriteSourceSize</key>
                <string>{127,133}</string>
                <key>textureRect</key>
                <string>{{529,123},{127,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_128x144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,144}</string>
                <key>spriteSourceSize</key>
                <string>{128,144}</string>
                <key>textureRect</key>
                <string>{{4,169},{128,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_146x161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,161}</string>
                <key>spriteSourceSize</key>
                <string>{146,161}</string>
                <key>textureRect</key>
                <string>{{4,4},{146,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_16x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{253,389},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_20x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,6}</string>
                <key>spriteSourceSize</key>
                <string>{20,6}</string>
                <key>textureRect</key>
                <string>{{163,306},{20,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_23x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,7}</string>
                <key>spriteSourceSize</key>
                <string>{23,7}</string>
                <key>textureRect</key>
                <string>{{136,306},{23,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_245x95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,95}</string>
                <key>spriteSourceSize</key>
                <string>{245,95}</string>
                <key>textureRect</key>
                <string>{{4,317},{245,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_36x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,10}</string>
                <key>spriteSourceSize</key>
                <string>{36,10}</string>
                <key>textureRect</key>
                <string>{{316,389},{36,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_39x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,15}</string>
                <key>spriteSourceSize</key>
                <string>{39,15}</string>
                <key>textureRect</key>
                <string>{{273,389},{39,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_43x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,16}</string>
                <key>spriteSourceSize</key>
                <string>{43,16}</string>
                <key>textureRect</key>
                <string>{{220,141},{43,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_50x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,29}</string>
                <key>spriteSourceSize</key>
                <string>{50,29}</string>
                <key>textureRect</key>
                <string>{{741,250},{50,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{824,250},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_545x115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{545,115}</string>
                <key>spriteSourceSize</key>
                <string>{545,115}</string>
                <key>textureRect</key>
                <string>{{358,4},{545,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_62x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{154,141},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_65x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,47}</string>
                <key>spriteSourceSize</key>
                <string>{65,47}</string>
                <key>textureRect</key>
                <string>{{285,93},{65,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_67x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,28}</string>
                <key>spriteSourceSize</key>
                <string>{67,28}</string>
                <key>textureRect</key>
                <string>{{285,61},{67,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_67x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,53}</string>
                <key>spriteSourceSize</key>
                <string>{67,53}</string>
                <key>textureRect</key>
                <string>{{285,4},{67,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_79x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,47}</string>
                <key>spriteSourceSize</key>
                <string>{79,47}</string>
                <key>textureRect</key>
                <string>{{824,123},{79,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_98x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{620,380},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_98x34_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{722,380},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_98x34_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{781,174},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_98x34_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{781,212},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_98x34_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{741,304},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1017h-cygnus-bul2_98x34_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{741,342},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1017h-cygnus-bul2.png</string>
            <key>size</key>
            <string>{907,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1c743f5c257386c61898f7aac889a54:31b0dd3000cfd98d4454d89c113aeec0:c0dca279d3605bf2f14ba7c8a5dfee9b$</string>
            <key>textureFileName</key>
            <string>u1017h-cygnus-bul2.png</string>
        </dict>
    </dict>
</plist>
