<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1051h-yomi-bul2_11x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,17}</string>
                <key>spriteSourceSize</key>
                <string>{11,17}</string>
                <key>textureRect</key>
                <string>{{554,4},{11,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_126x115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,115}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{303,101},{126,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_15x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{284,101},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_19x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{261,101},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_203x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,78}</string>
                <key>spriteSourceSize</key>
                <string>{203,78}</string>
                <key>textureRect</key>
                <string>{{4,143},{203,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_217x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,28}</string>
                <key>spriteSourceSize</key>
                <string>{217,28}</string>
                <key>textureRect</key>
                <string>{{348,60},{217,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_219x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,30}</string>
                <key>spriteSourceSize</key>
                <string>{219,30}</string>
                <key>textureRect</key>
                <string>{{348,26},{219,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_22x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{542,124},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_27x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{508,158},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_30x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{508,124},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_30x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{474,156},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_339x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,18}</string>
                <key>spriteSourceSize</key>
                <string>{339,18}</string>
                <key>textureRect</key>
                <string>{{211,4},{339,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_37x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,28}</string>
                <key>spriteSourceSize</key>
                <string>{37,28}</string>
                <key>textureRect</key>
                <string>{{508,92},{37,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_37x65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,65}</string>
                <key>spriteSourceSize</key>
                <string>{37,65}</string>
                <key>textureRect</key>
                <string>{{433,156},{37,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_39x71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,71}</string>
                <key>spriteSourceSize</key>
                <string>{39,71}</string>
                <key>textureRect</key>
                <string>{{261,26},{39,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_40x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,69}</string>
                <key>spriteSourceSize</key>
                <string>{40,69}</string>
                <key>textureRect</key>
                <string>{{304,26},{40,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_53x98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,98}</string>
                <key>spriteSourceSize</key>
                <string>{53,98}</string>
                <key>textureRect</key>
                <string>{{204,26},{53,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_68x60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{433,92},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_74x77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,77}</string>
                <key>spriteSourceSize</key>
                <string>{74,77}</string>
                <key>textureRect</key>
                <string>{{211,128},{74,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_95x135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,135}</string>
                <key>spriteSourceSize</key>
                <string>{95,135}</string>
                <key>textureRect</key>
                <string>{{105,4},{95,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1051h-yomi-bul2_97x135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,135}</string>
                <key>spriteSourceSize</key>
                <string>{97,135}</string>
                <key>textureRect</key>
                <string>{{4,4},{97,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1051h-yomi-bul2.png</string>
            <key>size</key>
            <string>{571,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b10b8c6cb0b9eafb169991cfd6b603a:28d04c423f4f178b9def11ffda2aa994:cd8ecd1131c9fd4608d6d05c1cb80db0$</string>
            <key>textureFileName</key>
            <string>u1051h-yomi-bul2.png</string>
        </dict>
    </dict>
</plist>
