<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1353e-brown-bul_102x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,64}</string>
                <key>spriteSourceSize</key>
                <string>{102,64}</string>
                <key>textureRect</key>
                <string>{{682,2},{102,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_106x73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,73}</string>
                <key>spriteSourceSize</key>
                <string>{106,73}</string>
                <key>textureRect</key>
                <string>{{405,2},{106,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_109x75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,75}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{294,2},{109,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_113x78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,78}</string>
                <key>spriteSourceSize</key>
                <string>{113,78}</string>
                <key>textureRect</key>
                <string>{{179,2},{113,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_140x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,27}</string>
                <key>spriteSourceSize</key>
                <string>{140,27}</string>
                <key>textureRect</key>
                <string>{{487,77},{138,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_140x58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,56}</string>
                <key>spriteSourceSize</key>
                <string>{140,58}</string>
                <key>textureRect</key>
                <string>{{698,68},{140,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_19x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{677,74},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_19x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,51}</string>
                <key>spriteSourceSize</key>
                <string>{19,51}</string>
                <key>textureRect</key>
                <string>{{840,67},{17,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_27x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{368,79},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_32x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,45}</string>
                <key>spriteSourceSize</key>
                <string>{32,45}</string>
                <key>textureRect</key>
                <string>{{336,79},{30,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_33x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{33,24}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{80,98},{33,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_34x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{179,82},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_46x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{290,82},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_50x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,27}</string>
                <key>spriteSourceSize</key>
                <string>{50,27}</string>
                <key>textureRect</key>
                <string>{{627,74},{48,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_75x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{75,32}</string>
                <key>textureRect</key>
                <string>{{213,82},{75,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_76x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,25}</string>
                <key>spriteSourceSize</key>
                <string>{76,27}</string>
                <key>textureRect</key>
                <string>{{2,98},{76,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_80x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{97,2},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_81x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,70}</string>
                <key>spriteSourceSize</key>
                <string>{81,70}</string>
                <key>textureRect</key>
                <string>{{599,2},{81,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_83x63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,63}</string>
                <key>spriteSourceSize</key>
                <string>{83,63}</string>
                <key>textureRect</key>
                <string>{{786,2},{83,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_84x71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,71}</string>
                <key>spriteSourceSize</key>
                <string>{84,71}</string>
                <key>textureRect</key>
                <string>{{513,2},{84,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_88x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{397,79},{88,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1353e-brown-bul_93x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{2,2},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1353e-brown-bul.png</string>
            <key>size</key>
            <string>{871,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0df880771d044f74de315fd5b5ec3d64:7646c5203f715400b40a8718f5cc1ec9:b685f450551bdb42694a0856bdd0b232$</string>
            <key>textureFileName</key>
            <string>u1353e-brown-bul.png</string>
        </dict>
    </dict>
</plist>
