<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1353e-brown-bul2_52x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1353e-brown-bul2.png</string>
            <key>size</key>
            <string>{56,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00ce4e099782ae78fdc8b5b9c8a31b95:b4415c6dc419c0a9219d8f5b12acbea3:55e6f870e0e13d4184a422498ac56f20$</string>
            <key>textureFileName</key>
            <string>u1353e-brown-bul2.png</string>
        </dict>
    </dict>
</plist>
