<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u286u-brown-bul2_100x92.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {96, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 92}</string>
			<key>spriteSourceSize</key>
			<string>{100, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 155}, {100, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul2_112x142.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{112, 142}</string>
			<key>spriteSourceSize</key>
			<string>{112, 142}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 0}, {112, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul2_112x153.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{112, 153}</string>
			<key>spriteSourceSize</key>
			<string>{112, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {112, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul2_132x90.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {128, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{132, 90}</string>
			<key>spriteSourceSize</key>
			<string>{132, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{102, 155}, {132, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul2_136x60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {132, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{136, 60}</string>
			<key>spriteSourceSize</key>
			<string>{136, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{228, 38}, {136, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul2_250x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {246, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 36}</string>
			<key>spriteSourceSize</key>
			<string>{250, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{236, 0}, {250, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul2_34x26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {30, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 26}</string>
			<key>spriteSourceSize</key>
			<string>{34, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{236, 196}, {34, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul2_38x36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {34, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 36}</string>
			<key>spriteSourceSize</key>
			<string>{38, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{228, 100}, {38, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul2_40x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {36, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 34}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{268, 100}, {40, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul2_60x56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {56, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 56}</string>
			<key>spriteSourceSize</key>
			<string>{60, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{236, 138}, {60, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u286u-brown-bul2.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>