<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>u286u-brown-bul3_102x74.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {82, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 74}</string>
			<key>spriteSourceSize</key>
			<string>{102, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{120, 390}, {102, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_103x98.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 8}, {79, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 98}</string>
			<key>spriteSourceSize</key>
			<string>{103, 98}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{800, 0}, {103, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_114x146.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {94, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114, 146}</string>
			<key>spriteSourceSize</key>
			<string>{114, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{684, 0}, {114, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_118x86.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 9}, {96, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{118, 86}</string>
			<key>spriteSourceSize</key>
			<string>{118, 86}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 390}, {118, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_120x14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {118, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 14}</string>
			<key>spriteSourceSize</key>
			<string>{120, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 497}, {120, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_150x132.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 9}, {126, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 132}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 379}, {150, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_159x142.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 10}, {133, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{159, 142}</string>
			<key>spriteSourceSize</key>
			<string>{159, 142}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{677, 158}, {159, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_178x34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {176, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{178, 34}</string>
			<key>spriteSourceSize</key>
			<string>{178, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 478}, {178, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_190x29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {188, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 29}</string>
			<key>spriteSourceSize</key>
			<string>{190, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 466}, {190, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_201x156.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 9}, {177, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{201, 156}</string>
			<key>spriteSourceSize</key>
			<string>{201, 156}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{481, 0}, {201, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_207x165.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 9}, {183, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{207, 165}</string>
			<key>spriteSourceSize</key>
			<string>{207, 165}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{468, 196}, {207, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_219x145.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {217, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{219, 145}</string>
			<key>spriteSourceSize</key>
			<string>{219, 145}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{524, 363}, {219, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_219x181.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 9}, {197, 159}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{219, 181}</string>
			<key>spriteSourceSize</key>
			<string>{219, 181}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{247, 196}, {219, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_232x194.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 8}, {210, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{232, 194}</string>
			<key>spriteSourceSize</key>
			<string>{232, 194}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{247, 0}, {232, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_245x189.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {225, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 189}</string>
			<key>spriteSourceSize</key>
			<string>{245, 189}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 199}, {245, 189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_245x197.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {223, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 197}</string>
			<key>spriteSourceSize</key>
			<string>{245, 197}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {245, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>u286u-brown-bul3_80x16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {78, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 16}</string>
			<key>spriteSourceSize</key>
			<string>{80, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{224, 390}, {80, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>u286u-brown-bul3.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>