<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91028-paul-body_18x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{58,367},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_18x18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{58,389},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_28x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,46}</string>
                <key>textureRect</key>
                <string>{{213,320},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_37x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{37,59}</string>
                <key>textureRect</key>
                <string>{{126,314},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_38x56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{38,56}</string>
                <key>textureRect</key>
                <string>{{187,372},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_42x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{167,320},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_42x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,84}</string>
                <key>spriteSourceSize</key>
                <string>{42,84}</string>
                <key>textureRect</key>
                <string>{{195,4},{42,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_42x84_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,84}</string>
                <key>spriteSourceSize</key>
                <string>{42,84}</string>
                <key>textureRect</key>
                <string>{{80,314},{42,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_50x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{4,367},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_56x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{127,377},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_60x66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{176,170},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_65x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,24}</string>
                <key>spriteSourceSize</key>
                <string>{65,24}</string>
                <key>textureRect</key>
                <string>{{58,411},{65,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_70x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{176,92},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_72x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{4,191},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_72x84_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{4,279},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_74x76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{172,240},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_76x85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{76,85}</string>
                <key>textureRect</key>
                <string>{{96,77},{76,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_76x85_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{76,85}</string>
                <key>textureRect</key>
                <string>{{4,102},{76,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_88x70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{88,70}</string>
                <key>textureRect</key>
                <string>{{84,166},{88,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_88x70_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{88,70}</string>
                <key>textureRect</key>
                <string>{{80,240},{88,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_88x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{4,4},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-body_95x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,69}</string>
                <key>spriteSourceSize</key>
                <string>{95,69}</string>
                <key>textureRect</key>
                <string>{{96,4},{95,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91028-paul-body.png</string>
            <key>size</key>
            <string>{250,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:110b4a708e6d6dd9e5825b5198fb34ce:d3d8fe36d4e6547f170696ad7c41206c:e9800289693568c1df013361338d9769$</string>
            <key>textureFileName</key>
            <string>u91028-paul-body.png</string>
        </dict>
    </dict>
</plist>
