<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u91028-paul-bul_37x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{37,59}</string>
                <key>textureRect</key>
                <string>{{103,67},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-bul_42x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{103,130},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-bul_50x59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{96,4},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-bul_88x94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{4,4},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u91028-paul-bul_95x69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,69}</string>
                <key>spriteSourceSize</key>
                <string>{95,69}</string>
                <key>textureRect</key>
                <string>{{4,102},{95,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u91028-paul-bul.png</string>
            <key>size</key>
            <string>{150,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6753a618a6e999502e8395dfc4147b0:fed68b6f09e337820204566fde3b8aff:f2df0dc3ed521a04ca4c6aba2b1a4bf7$</string>
            <key>textureFileName</key>
            <string>u91028-paul-bul.png</string>
        </dict>
    </dict>
</plist>
