<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u1112h-sakura-bul3_140x140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{224,4},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1112h-sakura-bul3_19x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{404,51},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1112h-sakura-bul3_216x192.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,192}</string>
                <key>spriteSourceSize</key>
                <string>{216,192}</string>
                <key>textureRect</key>
                <string>{{4,4},{216,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1112h-sakura-bul3_32x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{368,51},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1112h-sakura-bul3_34x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{368,85},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1112h-sakura-bul3_422x100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,100}</string>
                <key>spriteSourceSize</key>
                <string>{422,100}</string>
                <key>textureRect</key>
                <string>{{4,200},{422,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u1112h-sakura-bul3_44x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{44,43}</string>
                <key>textureRect</key>
                <string>{{368,4},{44,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>u1112h-sakura-bul3.png</string>
            <key>size</key>
            <string>{430,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80e94173f770a206a813b80a050410c8:0d7387256c23fc94fd23ca9b04e42104:8c45af1f313d9a67477e2a3b33a527ad$</string>
            <key>textureFileName</key>
            <string>u1112h-sakura-bul3.png</string>
        </dict>
    </dict>
</plist>
